.auth-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.auth-card {
    background: white;
    padding: 30px;
    width: 400px;

    border-radius: 10px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.auth-card h1 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 6px;
}

.auth-btn {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.password-field {
    position: relative;
    width: 100%;
}

.password-field input {
    width: 100%;
    padding-right: 45px;
    box-sizing: border-box;
}

.password-toggle {
    position: absolute;
    right: 12px;
    top: 40%;

    transform: translateY(-50%);

    border: none;
    background: transparent;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    padding: 0;
    color: #666;
}

.password-toggle:hover {
    color: #2563eb;
}