.navbar {
    background-color: white;

    padding: 15px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;

    transition: 0.3s;
}

.navbar a:hover {
    color: #2563eb;
}

.navbar button {
    padding: 8px 14px;

    border: none;
    border-radius: 5px;

    background-color: #ef4444;
    color: rgb(255, 255, 255);

    cursor: pointer;
}

.navbar a,
.navbar button {
    display: flex;
    align-items: center;
    gap: 4px;
}